<ngb-accordion [closeOthers]="true" activeIds="tree">
    <ngb-panel title="Form JSON" id="form-json">
        <ng-template ngbPanelContent>
            <jhi-form-json></jhi-form-json>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="JS-YAML" id="js-yaml">
        <ng-template ngbPanelContent>
            <jhi-js-yaml></jhi-js-yaml>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="NGX FORMLY" id="ngx-formly">
        <ng-template ngbPanelContent>
            <jhi-ngx-formly></jhi-ngx-formly>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
