<div class="card">
    <div class="card-header text-info">JSON vs YAML Conversion</div>
    <div class="card-body">
        <div class="row form">
            <div class="col-6 form-group">
                <label for="modelJson">JSON</label>
                <textarea class="form-control" name="modelJson" [(ngModel)]="modelJson" id="modelJson" rows="8" cols="80"></textarea>
                <p class="form-help text-muted">Your JSON</p>
            </div>
            <div class="col-6 form-group">
                <label for="modelYaml">YAML</label>
                <textarea class="form-control" name="modelYaml" [(ngModel)]="modelYaml" id="modelYaml" rows="8" cols="80"></textarea>
                <p class="form-help text-muted">Your YAML</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" name="button" class="btn btn-success" (click)="jsonToYaml()">JSON to YAML</button>
        <button type="button" name="button" class="btn btn-info float-right" (click)="yamlToJson()">YAML to JSON</button>
    </div>
</div>
