<div [ngSwitch]="isAuthenticated()">

    <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
    </div>

    <jhi-login *ngSwitchCase="false"></jhi-login>

    <jhi-dashboard *ngSwitchCase="true"></jhi-dashboard>

    <markdown src="assets/docs/home-authenticated.md" *ngSwitchCase="true"></markdown>

</div>
